{% comment %}
  Renders a collection card in media grid format.

  Accepts:
  - collection_item: {Object} Collection object.
  - show_image: {Boolean} Show the collection_item's image. Default: false.
  - class: {String} Additional classes for the card element.

  Usage:
  {% render 'card-collection-grid' collection_item: collection, show_image: true %}
{% endcomment %}

{% liquid
  assign has_image = false
  if collection_item.featured_image and show_image
    assign has_image = true
  endif
  if collection_item == blank and show_image
    assign has_image = true
  endif
%}

<div class="card card-media-sm {% if has_image %}card-media-sm-with-image{% endif %} {{ class }}">
  {% if collection_item.featured_image and show_image %}
    <figure class="card-media">
      <img
        src="{{ collection_item.featured_image | image_url: width: 100, height: 100, crop: 'center' }}"
        srcset="{{ collection_item.featured_image | image_url: width: 100, height: 100, crop: 'center' }} 1x, {{ collection_item.featured_image | image_url: width: 200, height: 200, crop: 'center' }} 2x"
        alt="{{ collection_item.featured_image.alt | escape }}"
        width="100"
        height="100"
        loading="lazy"
      >
    </figure>
  {% endif %}

  {% if collection_item == blank and show_image %}
    <figure class="card-media">
      {{ 'collection-1' | strip | placeholder_svg_tag: 'card-overlay-media' }}
    </figure>
  {% endif %}

  <h3 class="card-heading card-heading-bold">
    {% if collection_item %}
      <a href="{{ collection_item.url }}">
        {{ collection_item.title | upcase }}
      </a>
    {% else %}
      {{ 'onboarding.collection_title' | t | upcase }}
    {% endif %}
  </h3>
</div>
