{% liquid
  assign is_empty = true
  for block in section.blocks
    if block.settings.collection != blank or block.settings.image != blank
      assign is_empty = false
    endif
  endfor

  assign hide_because_empty = false
  if request.design_mode == false and section.settings.hide_if_empty and is_empty
    assign hide_because_empty = true
  endif
%}
{%- unless hide_because_empty -%}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {{ 'component-pills.css' | asset_url | stylesheet_tag }}
  {{ 'component-scroller.css' | asset_url | stylesheet_tag }}

  {%- if section.settings.layout == 'slider' -%}
    {{ 'flickity.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'flickity.pkgd.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'carousel-slider.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% liquid
    assign columns = section.settings.columns | at_most: 6
    assign layout_classes = 'grid grid-2-col'

    if columns >= 4
      assign layout_classes = layout_classes | append: ' grid-3-col-tablet grid-' | append: columns | append: '-col-desktop'
    else
      assign layout_classes = layout_classes | append: ' grid-3-col-tablet'
    endif

    if section.settings.layout == 'slider'
      assign layout_classes = layout_classes | append: ' grid-carousel'
    endif

    assign is_mobile_slider = false
    if section.settings.auto_rotate and section.settings.stack_on_mobile == false
      assign is_mobile_slider = true
    endif

    if is_mobile_slider
      assign layout_classes = layout_classes | append: ' grid-carousel-mobile'
    endif

    assign color_scheme_string = section.settings.color_scheme | append: ''
    assign block_section_class = 'block-section'
    unless color_scheme_string == 'background-1'
      assign block_section_class = block_section_class | append: ' block-section-padded'
    endunless
  %}

  <style>
    #shopify-section-{{ section.id }} .block-section {
    	margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
    	margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
    }

    #shopify-section-{{ section.id }} .block-section-padded {
    	margin-top: 0;
    	margin-bottom: 0;
    	padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
    	padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
    }

    @media (min-width: 990px) {
    	#shopify-section-{{ section.id }} .block-section {
    		margin-top: {{ section.settings.spacing_top }}px;
    		margin-bottom: {{ section.settings.spacing_bottom }}px;
    	}

    	#shopify-section-{{ section.id }} .block-section-padded {
    		margin-top: 0;
    		margin-bottom: 0;
    		padding-top: {{ section.settings.spacing_top }}px;
    		padding-bottom: {{ section.settings.spacing_bottom }}px;
    	}
    }
  </style>

  {%- capture visibility_classes -%}{%- render 'section-visibility-classes' -%}{%- endcapture -%}
  {%- assign visibility_classes = visibility_classes | strip -%}

  <div class="{{ visibility_classes }}">
    <div class="color-{{ section.settings.color_scheme }}">
      <div class="container">
        <div class="{{ block_section_class }}">
          {% if section.settings.heading != blank
            or section.settings.subheading != blank
            or section.settings.layout == 'slider'
          %}
            <div class="block-block-section-title-wrapper">
              {% if section.settings.heading != blank or section.settings.subheading != blank %}
                <div class="block-section-title-wrap">
                  {% if section.settings.heading != blank %}
                    <{{ section.settings.heading_tag }} class="block-section-title heading-size-{{ section.settings.heading_size }}">
                      {{- section.settings.heading -}}
                    </{{ section.settings.heading_tag }}>
                  {% endif %}
                  {% if section.settings.subheading != blank %}
                    <p class="block-section-subtitle">{{ section.settings.subheading }}</p>
                  {% endif %}
                </div>
              {% endif %}

              {% if section.settings.layout == 'slider' %}
                <carousel-navigation
                  for="Carousel-{{ section.id }}"
                  class="block-section-title-aux visible-tablet-up"
                >
                  <div class="pill-nav pill-nav-slider">
                    <button
                      class="pill-nav-item pill-nav-item-disabled focus-none js-prev"
                      aria-disabled="true"
                    >
                      <span class="visually-hidden">
                        {{- 'sections.slideshow.previous_slide' | t -}}
                      </span>
                      {% render 'angle', direction: 'left' %}
                    </button>
                    <button class="pill-nav-item js-next" aria-disabled="false">
                      <span class="visually-hidden">{{ 'sections.slideshow.next_slide' | t }}</span>
                      {% render 'angle', direction: 'right' %}
                    </button>
                  </div>
                </carousel-navigation>
              {% endif %}
            </div>
          {% endif %}

          <div class="brands">
            {%- if section.settings.layout == 'slider' or is_mobile_slider -%}
              <carousel-slider
                id="Carousel-{{ section.id }}"
                data-autoplay="{{ section.settings.auto_rotate }}"
                data-speed="{{ section.settings.change_slides_speed }}"
              >
            {%- endif -%}

            {%- unless section.settings.stack_on_mobile or section.settings.auto_rotate -%}
              <div class="scroller">
                <div class="scroller-inner">
            {%- endunless -%}

            <div class="{{ layout_classes }}">
              {% for block in section.blocks %}
                <div class="grid-item" {{ block.shopify_attributes }}>
                  {% render 'card-brand',
                    collection: block.settings.collection,
                    title: block.settings.title,
                    show_title: section.settings.show_title,
                    image: block.settings.image,
                    aspect: section.settings.image_ratio,
                    link: block.settings.link
                  %}
                </div>
              {% else %}
                {% for i in (1..3) %}
                  <div class="grid-item" {{ block.shopify_attributes }}>
                    {% render 'card-brand',
                      collection: null,
                      show_title: section.settings.show_title,
                      title: block.settings.title,
                      image: block.settings.image,
                      aspect: section.settings.image_ratio,
                      link: block.settings.link
                    %}
                  </div>
                {% endfor %}
              {% endfor %}
            </div>

            {%- unless section.settings.stack_on_mobile or section.settings.auto_rotate -%}
              </div>
              </div>
            {%- endunless -%}

            {%- if section.settings.layout == 'slider' or is_mobile_slider -%}
              </carousel-slider>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endunless -%}
{% schema %}
  {
    "name": "t:sections.brands.name",
    "tag": "section",
    "class": "section-brands",
    "disabled_on": {
      "groups": ["header", "footer", "custom.overlays"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:sections.brands.settings.heading.label",
        "default": "Brands"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.all.heading_size.label",
        "default": "md",
        "options": [
          {
            "value": "sm",
            "label": "t:sections.all.heading_size.options.label_sm"
          },
          {
            "value": "md",
            "label": "t:sections.all.heading_size.options.label_md"
          },
          {
            "value": "lg",
            "label": "t:sections.all.heading_size.options.label_lg"
          },
          {
            "value": "xl",
            "label": "t:sections.all.heading_size.options.label_xl"
          },
          {
            "value": "xxl",
            "label": "t:sections.all.heading_size.options.label_xxl"
          }
        ]
      },
      {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:sections.brands.settings.subheading.label"
      },
      {
        "type": "header",
        "content": "t:sections.brands.settings.header_brand_card.content"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "default": false,
        "label": "t:sections.brands.settings.show_title.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.layout.heading"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "t:sections.all.layout.layout.label",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "t:sections.all.layout.layout.options.label_grid"
          },
          {
            "value": "slider",
            "label": "t:sections.all.layout.layout.options.label_slider"
          }
        ]
      },
      {
        "type": "range",
        "id": "columns",
        "min": 3,
        "max": 6,
        "step": 1,
        "default": 6,
        "label": "t:sections.all.layout.desktop_columns.label"
      },
      {
        "type": "checkbox",
        "id": "stack_on_mobile",
        "default": false,
        "label": "t:sections.all.layout.stack_on_mobile.label"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "t:sections.all.layout.image_ratio.label",
        "default": "adapt",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.all.layout.image_ratio.options.label_1"
          },
          {
            "value": "portrait",
            "label": "t:sections.all.layout.image_ratio.options.label_2"
          },
          {
            "value": "square",
            "label": "t:sections.all.layout.image_ratio.options.label_3"
          },
          {
            "value": "landscape",
            "label": "t:sections.all.layout.image_ratio.options.label_4"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "auto_rotate",
        "label": "t:sections.brands.settings.auto_rotate.label",
        "info": "t:sections.brands.settings.auto_rotate.info",
        "default": false,
        "visible_if": "{{ section.settings.layout == 'slider' or section.settings.stack_on_mobile == false }}"
      },
      {
        "type": "range",
        "id": "change_slides_speed",
        "min": 3,
        "max": 9,
        "step": 1,
        "unit": "s",
        "label": "t:sections.brands.settings.change_slides_speed.label",
        "info": "t:sections.brands.settings.change_slides_speed.info",
        "default": 5,
        "visible_if": "{{ section.settings.auto_rotate == true and section.settings.layout == 'slider' or section.settings.stack_on_mobile == false }}"
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.heading"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.color_scheme.label",
        "default": "background-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.section_spacing.heading"
      },
      {
        "type": "range",
        "id": "spacing_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 60,
        "label": "t:sections.all.section_spacing.spacing_top.label"
      },
      {
        "type": "range",
        "id": "spacing_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 60,
        "label": "t:sections.all.section_spacing.spacing_bottom.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.seo_heading.label"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "label": "t:sections.all.advanced.heading_tag.label",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.visibility_heading.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_desktop",
        "default": true,
        "label": "t:sections.all.advanced.show_on_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_mobile",
        "default": true,
        "label": "t:sections.all.advanced.show_on_mobile.label"
      },
      {
        "type": "checkbox",
        "id": "hide_if_empty",
        "default": false,
        "label": "t:sections.brands.settings.hide_if_empty.label",
        "info": "t:sections.all.advanced.hide_if_empty.info"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "t:sections.brands.blocks.collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.brands.blocks.collection.settings.collection.label"
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.brands.blocks.collection.settings.title.label",
            "info": "t:sections.brands.blocks.collection.settings.title.info"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.brands.blocks.collection.settings.image.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.brands.blocks.collection.settings.link.label",
            "info": "t:sections.brands.blocks.collection.settings.link.info"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.brands.presets.name",
        "category": "t:sections.all.preset_category.content",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
